@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
  --primary: #08aeea;
  --secondary: #13D2B8;
  --purple: #bd93f9;
  --blue: #8be9fd;
  --gray: #444;
  --font: "Poppins", sans-serif;
  --gradient: linear-gradient(40deg, #ff6ec4, #7873f5);
  --shadow: 0 0 15px 0 rgba(0,0,0,0.15);
  --pink: #FFF0E6;
  --white: white;
  --text-color: var(--gray);
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px; 
}
::-webkit-scrollbar-track {
  margin-top: 10px;
  margin-bottom: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  height: 5px;
  
}
::-webkit-scrollbar-thumb:hover {
  background: #bbb; 
}


html {
  font-size: 62.5%;
}

body {
  font-family: var(--font);
  font-size: 1.4rem;
  font-weight: 300;

  margin: 0;
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

input,
button,
textarea,
select {
  font-family: var(--font);
  font-size: 1.4rem;
  font-weight: 300;
  outline: none;
  border: 0;
  margin: 0;
  padding: 0;
  border-radius: 0;
  -webkit-appearance: none;
}

button {
  cursor: pointer;
}
  

.bg-gradient {
  background: #ED6E9F;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #EC8B6A, #ED6E9F);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #EC8B6A, #ED6E9F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.round {
  border-radius: 50%;
}

.btn {
  background-color: #f5f5f5;
  padding: 4px 8px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
.btn:hover {
  background-color: rgb(0, 0, 0, 0.05);
}
.btn:active,
.btn.btn--nobg:active {
  background-color: rgb(0, 0, 0, 0.1);
}
.btn.btn--nobg {
  background-color: transparent;
}